<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CanKiosk</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <a href="/"><img class="corner-canman" src="/static/images/canman.png" alt="Canman"></a>
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a href="/"><p class="location">Home</p></a>
            </div>
        </div>
        <div id="role-container">
            <p id="role-title" class="title">Personalize your experience:</p>
            <div id="role-buttons">
                <button class="button-black index-button" onclick="window.location.href='/judge'">I'm a Judge</button>
                <button class="button-black index-button" onclick="window.location.href='/scout'">I'm a Scout</button>
                <button class="button-black index-button" onclick="window.location.href='/guest'">Just here to explore!</button>
            </div>
        </div>
        <div id="meetings">
            <p class="title" style="margin-bottom: 15px;">Meetings & Important Dates:</p>
            <p class="meeting-time">Wednesday & Thursday (5:00PM - 7:30PM)</p>
            <p class="meeting-time">Season Kickoff: January 4th, 2025</p>
            <p class="title" style="margin-bottom: 10px;"> FRC Competition Dates:</p>
            <div id="dates">
                <div>
                    <p class="meeting-time">Waco Competition<br>Week 1</p>
                    <p class="meeting-time" style="margin-top: 10px;">Feb 27 - Mar 1, 2025</p>
                </div>
                <div>
                    <p class="meeting-time">Manor Competition<br>Week 3</p>
                    <p class="meeting-time" style="margin-top: 10px;">Mar 14 - 6, 2025</p>
                </div>
                <div>
                    <p class="meeting-time">FRC State Championship</p>
                    <p class="meeting-time" style="margin-top: 10px;">Apr 2 - 5, 2025</p> 
                </div>
                <div>
                    <p class="meeting-time">FRC World Championship</p>
                    <p class="meeting-time">Apr 16 - 19, 2025</p> 
                </div>
            </div>
        </div>
    </body>
</html>