<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CanKiosk</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <div id="role-container">
            <p id="role-title" class="title">Personalize your experience:</p>
            <div id="role-buttons">
                <button class="button-black" onclick="window.location.href='/judge'">I'm a Judge</button>
                <button class="button-black" onclick="window.location.href='/scout'">I'm a Scout</button>
                <button class="button-black" onclick="window.location.href='/guest'">Just here to explore!</button>
            </div>
        </div>
    </body>
</html>