<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CanKiosk | Judge</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/judge.css">
        <script type="text/javascript" src="/static/scripts/timeout.js"></script>
    </head>
    <body>
        <a href="/"><img class="corner-canman" src="/static/images/canman.png" alt="Canman"></a>
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a href="/"><p class="location">Home</p></a>
                <p class="divider">/</p>
                <a href="/judge"><p class="location">Judge</p></a>
            </div>
        </div>
        <div id="category-container">
            <p class="subtitle">Learn more about our team!</p>
            <div id="category-grid">
                <div class="category-item" onclick="window.location.href='/judge/description'">Who are we?</div>
                <div class="category-item" onclick="window.location.href='/judge/robot'">Why our Robot's Awesome!</div>
                <div class="category-item" onclick="window.location.href='/judge/cad'">CAD</div>
                <div class="category-item" onclick="window.location.href='/judge/manufacturing'">Manufacturing</div>
                <div class="category-item" onclick="window.location.href='/judge/programming'">Programming</div>
                <div class="category-item" onclick="window.location.href='/judge/business'">Business</div>
                <div class="category-item" onclick="window.location.href='/judge/community'">Community</div>
            </div>
        </div>
    </body>
</html>