<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content= "width=device-width, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CanKiosk | Scout - Auton</title>
        <link rel="stylesheet" href="/static/css/scout.css">
        <script type="text/javascript" src="/static/scripts/timeout.js"></script>
    </head>
    <body>
        <a href="/"><img class="corner-canman" src="/static/images/canman.png" alt="Canman"></a>
        <div class="back">
            <a href="/scout"> 
                <p> &lt;back</p>
            </a>
        </div>
        
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a href="/"><p class="location">Home</p></a>
                <p class="divider">/</p>
                <a href="/scout"><p class="location">Scout</p></a>
                <p class="divider">/</p>
                <p class="location">Auton</p>
            </div>
        </div>
       <div id="content-container">
            <p class="title" style="text-decoration: underline;">Auton</p>
       </div>
    </body>
</html>