<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content= "width=device-width, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CanKiosk | Scout - Experience</title>
        <link rel="stylesheet" href="/static/css/scout.css">
        <script type="text/javascript" src="/static/scripts/timeout.js"></script>
        <script type="text/javascript" src="/static/scripts/currentPage.js"></script>
    </head>
    <body>
        <a href="/"><img class="corner-canman" src="/static/images/canman.png" alt="Canman"></a>
        <div class="back">
            <a href="/scout"> 
                <p> &lt;back</p>
            </a>
        </div>
        
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a href="/"><p class="location">Home</p></a>
                <p class="divider">/</p>
                <a href="/scout"><p class="location">Scout</p></a>
                <p class="divider">/</p>
                <p class="location" id="currentPage">Experience</p>
            </div>
        </div>
       <div id="content-container">
            <p class="title" style="text-decoration: underline;">Experience</p>
            <p class="page-content">

                <p class="light"><span class="regular">Coach - Mr. Ngo:</span> 6 years mentor and coaching experience. Always positive and dedicated to the grind.
                <br><br>
                <p class="light"><span class="regular">Driver - Emiliano:</span> 2 years driving experience. Confident under pressure.
                <br><br>
                <p class="light"><span class="regular">Operator - Zain:</span> 2 years operating experience. Knows everything about the robot.
                <br><br>
                <p class="light"><span class="regular">Human Player - Greg:</span> 1 years human player experience. Never fails.
                <br><br>
                <p class="light"><span class="regular">Technitian - Daniel:</span> 4 years manufacturing experience. Master Organizer.
            </p>
       </div>
    </body>
</html>