<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content= "width=device-width, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CanKiosk | Scout - Specs</title>
        <link rel="stylesheet" href="/static/css/scout.css">
        <script type="text/javascript" src="/static/scripts/timeout.js"></script>
        <script type="text/javascript" src="/static/scripts/currentPage.js"></script>
    </head>
    <body>
        <a href="/"><img class="corner-canman" src="/static/images/canman.png" alt="Canman"></a>
        <div class="back">
            <a href="/scout"> 
                <p> &lt;back</p>
            </a>
        </div>
        
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a href="/"><p class="location">Home</p></a>
                <p class="divider">/</p>
                <a href="/scout"><p class="location">Scout</p></a>
                <p class="divider">/</p>
                <p class="location" id="currentPage">Robot Specs</p>
            </div>
        </div>
       <div id="content-container">
        <p class="title" style="text-decoration: underline;">Robot Specs</p>
            <div class="two-column">
                <div>
                    <p class="subtitle" style="margin-top: 0px;">Physical:</p>
                    <div style="margin-left: 5%;">
                        <p class="light"><span class="regular">Drive base dimensions:</span> 28in x 28in</p>
                        <p class="light"><span class="regular">Robot Starting Height:</span> 42in - 3ft 6in -  1.0668m</p>
                        <p class="light"><span class="regular">Robot Max Height:</span> 82in - 6ft 10in - 2.0828m</p>
                        <p class="light"><span class="regular">Swerve Max Speed:</span> ~26 mph - 28 ft/s - 11.58 m/s</p>
                        <p class="light"><span class="regular">Weight:</span> ~113lbs</p>

                        <br><br>
                        <p style="margin-top: -5%;" class="light"><span class="regular" style="letter-spacing: .9px;">Elevator Motors:</span> 2 Vortex Driven 3-Stage Elevator</p>
                        <p class="light"><span class="regular">Roller Motors:</span> 1 Vortex Driven Intake Rollers  (1 Vortex Controlled Arm)</p>
                        <p class="light"><span class="regular">Climb Motors:</span> 1 Vortex Driven Climber</p>
                        <p class="light"><span class="regular">Swerve Motors:</span> Kraken</p>

                    </div>
                </div>
                <div style="min-width: 40%;">
                    <p class="subtitle" style="margin-top: 0px;">Features:</p>
                    <div style="margin-left: 7.5%;">
                        <p class="regular">Coral intake ground and source</p>
                        <p class="regular">Descore algae from reef</p>
                        <p class="regular">Deep Climb</p>
                        <p class="regular"> Scores L1 - L4</p>
                        <p class="regular">LaserCan and Limelight</p>
                        <p class="regular">Robust Autonomous</p>

                    </div>
                </div>
            </div>
        
       </div>
    </body>
</html>