<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content= "width=device-width, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CanKiosk | Judge - Business Team</title>
        <link rel="stylesheet" href="/static/css/judge.css">
        <script type="text/javascript" src="/static/scripts/timeout.js"></script>
    </head>
    <body>
        <a href="/"><img class="corner-canman" src="/static/images/canman.png" alt="Canman"></a>
        <div class="back">
            <a href="/judge"> 
                <p> &lt;back</p>
            </a>
        </div>
        
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a href="/"><p class="location">Home</p></a>
                <p class="divider">/</p>
                <a href="/judge"><p class="location">Judge</p></a>
                <p class="divider">/</p>
                <p class="location">Business</p>
            </div>
        </div>
       <div id="content-container">
            <p class="title" style="text-decoration: underline;">Business</p>
            <div class="two-column">
                <p class="page-content">
                    We are the people behind the scenes making buttons, finding sponsors, organizing events, creating art, and posters, and promoting STEM to the community, we keep the team updated and ready. Always talking about what we should do next to help the team grow bigger than just our community. 
                </p>
                <img class="side-image" src="/static/images/placeholder.png" alt="Picture of business lead, Paul Thomas Chapa">
            </div>
       </div>
    </body>
</html>