<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content= "width=device-width, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CanKiosk | Judge - CAD Team</title>
        <link rel="stylesheet" href="/static/css/judge.css">
        <script type="text/javascript" src="/static/scripts/timeout.js"></script>
        <script type="text/javascript" src="/static/scripts/currentPage.js"></script>
    </head>
    <body>
        <a href="/"><img class="corner-canman" src="/static/images/canman.png" alt="Canman"></a>
        <div class="back">
            <a href="/judge"> 
                <p> &lt;back</p>
            </a>
        </div>
        
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a href="/"><p class="location">Home</p></a>
                <p class="divider">/</p>
                <a href="/judge"><p class="location">Judge</p></a>
                <p class="divider">/</p>
                <p class="location" id="currentPage">Computer Aided Design (CAD)</p>
            </div>
        </div>
       <div id="content-container">
            <p class="title" style="text-decoration: underline;">Computer Aided Design (CAD)</p>
            <div class="two-column">
                <div class="two-row">
                    <p class="page-content">
                        The process of building a robot starts with our CAD (or computer aided design) team. CAD designs each subsystem of the robot using online software and creates drawings of parts for manufacturing to build. Team lead captain Emiliano Monjardin Valdez handles the overview of the robot design and gives supervision and guidance to fellow team members.
                    </p>
                    <p class="page-content">
                        We helped create the basic ideas for the robot based on the strategies and ideas of our fellow teammates during kickoff. It's our job to help implement and test which ideas work the most efficiently in and out of our CAD software, Onshape. Furthermore, we are responsible for creating the final design presented to our team and helping make part drawings and organization to hand off to our manufacturing department. Manufacturing
                    </p>
                </div>
                <img class="side-image" src="/static/images/emiliano.jpg" alt="Picture of CAD lead, Emiliano Monjardin Valdez">
            </div>
       </div>
    </body>
</html>