<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content= "width=device-width, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CanKiosk | Judge - Community</title>
        <link rel="stylesheet" href="/static/css/judge.css">
        <script type="text/javascript" src="/static/scripts/timeout.js"></script>
    </head>
    <body>
        <a href="/"><img class="corner-canman" src="/static/images/canman.png" alt="Canman"></a>
        <div class="back">
            <a href="/judge"> 
                <p> &lt;back</p>
            </a>
        </div>
        
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a href="/"><p class="location">Home</p></a>
                <p class="divider">/</p>
                <a href="/judge"><p class="location">Judge</p></a>
                <p class="divider">/</p>
                <p class="location">Community</p>
            </div>
        </div>
       <div id="content-container">
            <p class="title" style="text-decoration: underline;">Community</p>
            <p class="page-content">
                We love our community of many minds ready to find a new passion or an experience of learning something new. The people around us support and build us up to be a strong team that can grow and be confident, with that support we can tackle bigger problems that can't be solved alone. One of the best times to show our love for STEM, robots, and learning something new is; Night of the Robots: this is an event we invite younger students to go to a meeting where they meet the robots and learn some programming, building, teamwork, brainstorming, troubleshooting, and imagination with whats around you.  
            </p>
       </div>
    </body>
</html>