<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content= "width=device-width, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CanKiosk | Judge - Community</title>
        <link rel="stylesheet" href="/static/css/judge.css">
        <script type="text/javascript" src="/static/scripts/timeout.js"></script>
    </head>
    <body>
        <a href="/"><img class="corner-canman" src="/static/images/canman.png" alt="Canman"></a>
        <div class="back">
            <a href="/judge"> 
                <p> &lt;back</p>
            </a>
        </div>
        
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a href="/"><p class="location">Home</p></a>
                <p class="divider">/</p>
                <a href="/judge"><p class="location">Judge</p></a>
                <p class="divider">/</p>
                <p class="location">Community</p>
            </div>
        </div>
       <div id="content-container">
            <p class="title" style="text-decoration: underline;">Community</p>
            <p class="page-content">
                The ausTIN CANs gives back to our community through the use of public events that the community can participate in to support the team. Bake sales where the local community can come buy baked goods made by the team. Night of the Robots where we share our knowledge about STEM with kids in fifth grade or below through fun and engaging activities.    
            </p>
       </div>
    </body>
</html>