<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CanKiosk | Judge - Programming Team</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/judge.css">
        <script type="text/javascript" src="/static/scripts/timeout.js"></script>
    </head>
    <body>
        <a href="/"><img class="corner-canman" src="/static/images/canman.png" alt="Canman"></a>
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a href="/"><p class="location">Home</p></a>
                <p class="divider">/</p>
                <a href="/judge"><p class="location">Judge</p></a>
                <p class="divider">/</p>
                <p class="location">Programming</p>
            </div>
        </div>
       <div id="content-container">
            <p class="title" style="text-decoration: underline;">Programming</p>
            <div class="two-column">
                <p class="page-content">
                    Where the robot comes to life is our programming team. Our programming team uses their expansive knowledge and problem solving skills to write and troubleshoot the code that allow the robot to complete any necessary tasks. Team lead Greg Shatsman is highly experienced in Java, Github, and computer science.
                </p>
                <img class="side-image" src="/static/images/placeholder.png" alt="Picture of programming lead, Grigory Shatsman">
            </div>
       </div>
    </body>
</html>