<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content= "width=device-width, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CanKiosk | Judge - Robot</title>
        <link rel="stylesheet" href="/static/css/judge.css">
        <script type="text/javascript" src="/static/scripts/timeout.js"></script>
    </head>
    <body>
        <a href="/"><img class="corner-canman" src="/static/images/canman.png" alt="Canman"></a>
        <div class="back">
            <a href="/judge"> 
                <p> &lt;back</p>
            </a>
        </div>
        
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a href="/"><p class="location">Home</p></a>
                <p class="divider">/</p>
                <a href="/judge"><p class="location">Judge</p></a>
                <p class="divider">/</p>
                <p class="location">Why our Robot's Awesome!</p>
            </div>
        </div>
       <div id="content-container">
            <p class="title" style="text-decoration: underline;">Our Robot</p>
            <div class="two-column">
                <p class="page-content">
                    Our robot is awesome for many reasons, but our favorite is the yellow!
                    <br> <br>
                    This is CANiel our very yellow robot that has an intake, elevator, and like the real person a sassy personality, they're made with sweat, tears, and effort. 
                </p>
                <img class="side-image" src="/static/images/robot.png" alt="Placeholder Image">
            </div>
       </div>
    </body>
</html>