@import url(reference.css);

body {
    background-color: var(--primary-yellow);
    font-family: Bahnschrift;
}

#role-title {
    margin-bottom: 40px;
}

#role-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.idle-button {
    position: absolute;
    font-size: 10px;
    margin-bottom: 50vh;
    animation: throb 6.4s infinite ease-out;
}

.idle-button:hover {
    cursor: pointer;
}

.left-arrow {
    height: 7%;
    width: 7%;
    transform: scaleX(-1);
    position: absolute;
    right: -200px;
    top: var(--random-height-left);
    animation: moveLeft 3.2s infinite ease-out;
    opacity: 1;
}

.right-arrow {
    height: 7%;
    width: 7%;
    position: absolute;
    left: -200px;
    top: var(--random-height-right);
    animation: moveRight 3.2s infinite ease-out;
    opacity: 1;
}

.up-arrow {
    height: 7%;
    width: 7%;
    transform: rotate(90deg);
    position: absolute;
    top: -200px;
    left: var(--random-width-up);
    animation: moveUp 3.2s infinite ease-out;
    opacity: 1;
}

.down-arrow {
    height: 7%;
    width: 7%;
    transform: rotate(270deg);
    position: absolute;
    bottom: -200px;
    right: var(--random-width-down);
    animation: moveDown 3.2s infinite ease-out;
    opacity: 1;
}

.robot-img {
    display: flex;
    position: relative;
    height: 125%;
    width: 125%;
    margin-top: 15vh;
    animation: glow 8s infinite;
}

.robot-img:hover {
    cursor: pointer;
}

@keyframes moveLeft {
    0% {
        transform: scaleX(-1);
    }
    
    100% {
        transform: translateX(-550px) scaleX(-1);
        opacity: 0;


    }
}
@keyframes moveRight {

    100% {
        transform: translateX(550px);
        opacity: 0;
    }
}
@keyframes moveUp{
    0% {
        transform: rotate(90deg);
    }
    
    100% {
        transform: rotate(90deg) translateX(350px);
        opacity: 0;
    }
}
@keyframes moveDown {
    0% {
        transform: rotate(270deg);
    }

  
    100% {
        transform: rotate(270deg) translateX(250px);
        opacity: 0;
    }
}

@keyframes throb{
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
        box-shadow: 0 2.5px 8px rgb(0, 0, 0, 0.55);

    }

    0% {
        transform: scale(1);
    }
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 0.25rem black);
    }

    50% {
        filter: drop-shadow(0 0 0.95rem blue);

    }

    100% {
        filter: drop-shadow(0 0 0.25rem black);

    }

}


