:root {
    --primary-black: #222222;
    --primary-yellow: #FFCF46;
    --primary-white: #F6F6F3;

    --light-highlight: #FFEBAD;
    --dark-highlight: #D6A415;

    --light-shadow: #70707D;
    --dark-shadow: #0F0F0F;
}

@font-face {
    font-family: Bahnschrift;
    src: url(/static/fonts/bahnschrift.ttf);
}

.title {
    font-size: 34px;
    font-weight: 600;
}

.subtitle {
    font-size: 26px;
    font-weight: 500;
}

.regular, .light {
    font-size: 18px;
    font-weight: 400;
}

.light {
    font-weight: 300;
}

.title:hover, .subtitle:hover, .regular:hover {
    cursor: default;
}

.button-black {
    background-color: var(--primary-black);
    color: var(--primary-white);
    font-size: 14px;
    width: 150px;
    padding: 15px 15px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 25px;
}

.button-black:hover {
    cursor: pointer;
}

/* Top Bar Styles */
.corner-canman {
    width: 50px;
    position: absolute;
    top: 15px;
    left: 100px;
}

.breadcrumb-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.breadcrumb > a {
    all: unset;
    cursor: pointer;
}

.breadcrumb p.location {
    font-size: 18px;
    color: var(--primary-black);
}

.breadcrumb p.divider {
    font-size: 20px;
    color: var(--light-shadow);
}

/* Content Styles */
#content-container {
    margin-top: 100px;
    margin-left: 150px;
    padding-right: 150px;
}

.page-content {
    letter-spacing: .05em;
    line-height: 1.3;
    padding-right: 50px;
}

.two-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-image {
    width: 375px;
    height: 500px;
}

a {
    all: unset;
    cursor: pointer;
}