@import url(reference.css);

/* Root Styles */
body {
    background-color: var(--primary-yellow);
    font-family: Bahnschrift;
}

#category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-60%);
    row-gap: 25px;
}

#category-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    opacity: 0;
}

.category-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    padding: 0 25px;
    text-align: center;
    border: 0px solid var(--primary-black);
    border-radius: 5px;
    font-size: 27px;
    background-color: var(--light-shadow);
    color: white;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, .8);
}

.category-item:hover {
    cursor: pointer;
}

