<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content= "width=device-width, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CanKiosk | Guest - Manufacturing Team</title>
        <link rel="stylesheet" href="/static/css/guest.css">
        <script type="text/javascript" src="/static/scripts/timeout.js"></script>
    </head>
    <body>
        <a href="/"><img class="corner-canman" src="/static/images/canman.png" alt="Canman"></a>
        <div class="back">
            <a href="/guest"> 
                <p> &lt;back</p>
            </a>
        </div>
        
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a href="/"><p class="location">Home</p></a>
                <p class="divider">/</p>
                <a href="/guest"><p class="location">Guest</p></a>
                <p class="divider">/</p>
                <p class="location">Manufacturing</p>
            </div>
        </div>
       <div id="content-container">
            <p class="title" style="text-decoration: underline;">Manufacturing</p>
            <div class="two-column">
                <div class="two-row">
                    <p class="page-content">
                        Where concepts become reality is manufacturing. Our manufacturing team uses expert skills and knowledge in machining and electronics to synthesize parts and assemble the robot. Team lead Daniel Trujillo is highly experienced in the use of the CNC Haas, router, metal lathe, and vertical mill. 
                    </p>
                    <p class="page-content">
                        We are the people making the bulk of the robot and are one of the most diverse subgroups in jobs. Near the beginning of the season, we mainly assemble the field and help our CAD team and anyone else helping in prototyping create a mock version of different ideas. Later on in the season, we are the people making the bulk of the robot on a variety of machines such as the manual lathe, manual mill, CNC router, CNC HASS, and 3D printers. Afterward, we are the people in charge of spearheading the assembly process as well as the people who help wrap the robot in our distinct yellow. The last big part of the manufacturing team's job is electronics as we are the ones who usually wire up the majority of the robot before handing it off to programing for testing.
                    </p>
                </div>
                <img class="side-image" src="/static/images/placeholder.png" alt="Picture of manufacturing lead, Daniel Trujillo Zargoza">
            </div>
       </div>
    </body>
</html>