<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content= "width=device-width, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CanKiosk | guest - Programming Team</title>
        <link rel="stylesheet" href="/static/css/guest.css">
        <script type="text/javascript" src="/static/scripts/timeout.js"></script>
        <script type="text/javascript" src="/static/scripts/currentPage.js"></script>
    </head>
    <body>
        <a href="/"><img class="corner-canman" src="/static/images/canman.png" alt="Canman"></a>

        <div class="back">
            <a href="/guest"> 
                <p> &lt;back</p>
            </a>
        </div>
        
        <div class="back">
            <a href="/guest"> 
                <p> &lt;back</p>
            </a>
        </div>
        
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a href="/"><p class="location">Home</p></a>
                <p class="divider">/</p>
                <a href="/guest"><p class="location">Guest</p></a>
                <p class="divider">/</p>
                <p class="location" id="currentPage">Programming</p>
            </div>
        </div>
       <div id="content-container">
            <p class="title" style="text-decoration: underline;">Programming</p>
            <div class="two-column">
                <p class="page-content">
                    The Programming subteam of our FRC team plays a crucial role in ensuring our robot performs at its best during competition. We develop and refine the robot’s software, focusing on key areas like autonomous vision processing, motion control, and real-time strategy execution. Our work in vision processing helps the robot recognize field elements, track game pieces, and make autonomous decisions, giving our team a competitive edge. 
                    <br><br>
                    Beyond the robot, our subteam is responsible for developing and maintaining a robust scouting system. We collect and analyze data on other teams to optimize our strategy and alliance selections, ensuring we make informed decisions on and off the field. This system provides real-time insights, helping our drive team adjust tactics dynamically based on competitor performance and match trends.
                    <br><br>
                    Our commitment to programming extends beyond robotics—we actively support and sponsor our school’s competitive coding club. By providing mentorship, resources, and collaboration opportunities, we help students develop their programming skills and prepare for coding competitions. This initiative strengthens our team's technical foundation and fosters a culture of innovation, ensuring that our programming efforts continue to grow and evolve each season.
                </p>
                <img class="side-image" src="/static/images/placeholder.png" alt="Picture of programming lead, Grigory Shatsman">
            </div>
       </div>
    </body>
</html>